<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RenderTest.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
</head>

<body>
    <header>
        <h1>PDF Template</h1>
    </header>

    <DynamicComponent Type="TypeOfRenderingComponent" Parameters="ComponentParams" />
    <footer>
        @TrademarkMessage
    </footer>
</body>

</html>



@code {
    [Parameter] public Type TypeOfRenderingComponent { get; set; }
    [Parameter] public Dictionary<string,object?> ComponentParams {get;set;}
    string TrademarkMessage { get; set; } = 
        "This is a trademark";
}