<h3>Test Rendering</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Number</th>
            <th>String</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < NumberOfLines; i++)
        {
            <tr>
                <td>Number @i</td>
                <td>String @i</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter] public int NumberOfLines { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
